html{
	margin: 0;
	padding: 0;
}
body {
 	line-height:1;
 	background-image: url(images/bglogo.jpeg);
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}
article,aside,details,figcaption,figure,
footer,header,hgroup,menu,nav,section {
 display:flex;

}


header{
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  display: flex;
 /* background-color: #fff;*/
  width: 100%;
  height: 10%;
}
header .header-brand{
  font-family: cursive;
  font-size: 40px;
  font-weight:900;
  color: peru;
  text-transform: uppercase;
  display: flex;
  margin: 0 40px;
  text-align: center;
  padding:20px 0;
}
nav a{
	text-decoration: none;
}

header nav ul{
  display: block;
  margin-top: 6%;
  width: fit-content;

}
header nav ul li{
  display: inline-block;
  float: left;
  list-style: none;
  padding: 0 1.2em;
}
header nav ul li a{
  font-family: cursive;
  font-size: 1.2em;
  color: peru;
  text-transform: uppercase;

}

section{
	margin-top: 10%;
}

.articleContext{
  display: inline-block;
  width:95%;
  height: auto;
  color: #ccc;
  background: peru;
  margin: 0 2%;
  border-radius: 2%;
  padding: 1%;
  line-height: 2em;
  font-family: sans-serif 'Franklin Gothic Medium', 'Arial Narrow', Arial, ;
}
.articleForm{
	width:95%;
  height: auto;
  margin:0% 2%;
  border-radius: 2%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text],input[type=password] {
    width: 100%; /* Full width */
    padding: 2em; /* Some padding */  
    border: 1px solid #ccc; /* Gray border */
    border-radius:1%; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color:peru;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color:grey;
}

/* Add a background color and some padding around the form */
#container {
  width: 100%;
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
}
.content{
  width: 100%;
}
/* register css code here */

* {box-sizing: border-box}

/* Add padding to containers for register code */
#container {
	padding: 2%;;
  background-color: #fff;
  width: 100%;
  display: block;
  margin-left: 2%;
}

/* Full-width input fields */
input[type=text], input[type=password] {

  padding: 15px;
  margin: 5px 0 22px 0;
  display: block;
  border: none;
  background: #f1f1f1;
}
#containerform {
	padding: 2%;;
  background-color: #fff;
  width: 100%;
  display: block;
  margin-left: 24%;
}

input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Overwrite default styles of hr */
hr {
  border: 1px solid peru;
  margin-top: 75px;
 
  top: 50px;
}

/* Set a style for the submit/register button */
.registerbtn {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  opacity: 0.9;
}

.registerbtn:hover {
  opacity:1;
}

/* Add a blue text color to links */
a {
  color: dodgerblue;
}

/* Set a grey background color and center the text of the "sign in" section */
.signin {
  background-color: #f1f1f1;
  text-align: center;
}

footer{
  background:peru;
  width: 100%;
  height:80px;
  color:#fff;
  margin-top: 2%;
  margin-bottom: 0;
}
footer p{
  margin-top: 3%;
  margin-left: 36%;
  font-family: cursive;
}